/*=== background colors ===*/

$bgDark:            #e4ddcf;
$bgLight:           #f3f3f3;
$bgTransparent:     #ffffff;

/*=== text colors ===*/
$mainText:          #636363;
$darkerText:        #555555;
$lighterText:       #6d6d6d;
$mostDarkText:      #282828;
$highlightedText:     #2e4265;
$detailsColor:      #d68c6f;
$invertedText:      #ffffff;



/*=== fonts ===*/

$h1Font:            'Droid Serif Bold', serif;
$h2Font:            'Work Sans', sans-serif;

$textFont:          'Open Sans', sans-serif;

$h1:                60px;
$h2:                63px;
$text:              16px;

$lineHeight:        30px;

// font-family: 'Work Sans', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Droid Serif Bold', arial, serif;
