@import "vars";
@import "libs";
@import "fonts";

/* === common styles ===*/
html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

li {
  list-style: none;
}

body {
  font-size: $text;
  font-family: $textFont;
  background-color: blue;
}

.container-outer {
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-inner {
  max-width: 970px;
  margin: 0 auto;
}

.caps {
  text-transform: uppercase;
}
// elements
h1,
h2 {
  margin: 0;
}
.button {
  color: $invertedText;
  background: $detailsColor;
  border-radius: 36px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.2);
  font-family: $h2Font;
  font-size: 18px;
  font-weight: 700;
  padding: 23px 50px 21px;
  text-transform: capitalize;

  &:hover {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
  }
}

.h1,
.h2 {
  color: $highlightedText;
  font-weight: 700;
  text-transform: capitalize;
}

.h1 {
  font-family: $h1Font;
  font-size: $h1;
  line-height: 75px;
}

.h2 {
  font-family: $h2Font;
  font-size: $h2;
}
// --HEADER
.header {
  background: url(../img/header-bg-left.png) left -190px top 135px no-repeat,
    url(../img/header-bg-right.png) right -165px top 135px no-repeat, $bgDark;
    height: 100vh;

  &-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 84px;
    padding-top: 43px;
  }

  &-logo {
    padding-left: 5px;
    transition: all 0.1s ease-in;

    &:hover {
      transform: scale(1.02);
    }
  }

  &-logo__link {
  }

  &-logo__img {
  }

  &-nav {
    &__list {
      display: flex;
    }

    &__item:not(:first-child) {
      margin-left: 50px;
    }

    &__link {
      color: $lighterText;
      font-family: $h2Font;
      font-size: 18px;
      position: relative;
      text-transform: capitalize;

      &:after {
        content: "";
        position: absolute;
        width: 110%;
        height: 2px;
        background-color: $highlightedText;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        transition: all 0.3s ease-in;
      }

      &:hover,
      &--active {
        color: $highlightedText;
      }

      &:hover:after,
      &--active:after {
        opacity: 1;
      }
    }
  }

  &-main {
    display: flex;
    padding-bottom: 92px;
    &__text {
    }

    &__title {
      line-height: 75px;
      margin-top: 80px;
      margin-bottom: 39px;
      text-transform: capitalize;
    }

    &__paragraph {
      color: $mostDarkText;
      margin-bottom: 65px;
      width: 90%;
      line-height: 26px;
    }

    &__button {
    }

    &__img-box {
      background: radial-gradient(52% 55% ellipse at 50% 50%, #fff, transparent);
      position: relative;
      z-index: 5;

      &:before {
        content: "";
        position: absolute;
        left: 57%;
        transform: translateX(-50%);
        bottom: -31px;
        width: 175%;
        height: 18%;
        background: radial-gradient(
          100% 100% ellipse at 50% 50%,
          rgba(255, 255, 255, 0.9),
          rgba(255, 255, 255, 0.9) 21%,
          rgba(255, 255, 255, 0.7) 21%,
          rgba(255, 255, 255, 0.7) 28%,
          rgba(255, 255, 255, 0.5) 28%,
          rgba(255, 255, 255, 0.5) 35%,
          rgba(255, 255, 255, 0.3) 25%,
          rgba(255, 255, 255, 0.3) 42%,
          rgba(255, 255, 255, 0.1) 42%,
          rgba(255, 255, 255, 0.1) 49%,
          transparent 49%
        );
        z-index: -5;
      }

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../img/header-duck-shaddow.png) left 80% bottom -8px no-repeat;
        z-index: 15;
      }
    }

    &__image {
      display: block;
    }
  }
}
// --/HEADER

// --MAIN
// ----MAIN-PRODUCTS

.product {
  background: url(../img/product-bg-left.png) left -75px top -80px no-repeat,
    url(../img/product-bg-right.png) right -308px top 100px no-repeat, $bgTransparent;
  &-header {
    text-align: center;
    margin-bottom: 45px;
    font-family: $h2Font;
    position: relative;

    &__title {
      color: $highlightedText;
      font-size: 175px;
      font-weight: 700;
      line-height: 170px;
      opacity: 0.04;
      text-transform: capitalize;
    }

    &__stages {
      color: $highlightedText;
      font-size: 63px;
      font-weight: 700;
      position: absolute;
      width: 100%;
      bottom: 50px;

      &:before {
        content: "";
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        width: 80%;
        height: 4px;
        background: $highlightedText;
      }
    }
    &__stage {
      &--left {
        position: absolute;
        left: -10px;
        top: -36px;
        transform: rotate(-90deg);

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -38px;
          transform: translateX(-50%);
          height: 4px;
          width: 40px;
          background-color: $highlightedText;
          border-radius: 2px;
        }
      }
      &--center {
        position: absolute;
        left: 50%;
        bottom: 18px;
        transform: translateX(-50%);

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -26px;
          transform: translateX(-50%);
          height: 20px;
          width: 4px;
          background-color: $highlightedText;
          border-radius: 2px;
        }
      }
      &--right {
        position: absolute;
        right: -10px;
        top: -36px;
        transform: rotate(-90deg);

        &:before {
          content: "";
          position: absolute;
          left: 50%;
          top: -33px;
          transform: translateX(-50%);
          height: 4px;
          width: 40px;
          background-color: $highlightedText;
          border-radius: 2px;
        }
      }
    }
    &__circle {
      color: $mainText;
      font-size: 26px;
      font-weight: 300;
      text-transform: capitalize;
      position: absolute;
      left: 50%;
      bottom: -13px;
      transform: translateX(-50%);
    }
  }

  &-img-area {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;

    &__box {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__image {
      display: block;
    }
  }

  &-cards {
    display: flex;
    flex-wrap: wrap;
  }
  &-card:nth-of-type(n + 1) {
    padding-right: 30px;
  }

  &-card {
    flex-basis: 50%;
    margin-bottom: 87px;

    &__header {
      color: $highlightedText;
      background: url(../img/product-header-bg.png) left 0% bottom 0% no-repeat;
      font-family: $h2Font;
      padding-bottom: 17px;
      margin-bottom: 28px;
      position: relative;
    }

    &__number {
      font-size: 163px;
      font-weight: 700;
      opacity: 0.04;
      position: absolute;
      left: 0;
      bottom: -50%;
    }

    &__title {
    }

    &__content {
      color: $darkerText;
      line-height: 30px;
      margin-bottom: 80px;
    }
  }
}
// ----/MAIN-PRODUCTS

// ----MAIN-SLIDER
.slider-image-box {
  display: flex;
}

.slider-section {
  background: $bgTransparent;
}
.slider {
  &-slide {
    position: relative;
  }
  &-slide-wrapper {
    display: flex;
  }

  &-image-box {
    display: flex;
    justify-self: center;
    align-items: center;
    margin-top: 50px;
    max-width: 400px;
    height: 600px;
  }

  &-image {
    display: block;
  }

  &-text-box {
    margin-top: 176px;
    padding-left: 30px;
    padding-right: 50px;
  }

  &-title {
    margin-bottom: 40px;
  }

  &-rate {
    color: $detailsColor;
    border: 1px solid rgba($detailsColor, 0.2);
    border-radius: 36px;
    display: inline-block;
    font-family: $h2Font;
    font-size: 27px;
    font-weight: 300;
    padding: 13px 38px;
    margin-bottom: 20px;
  }
  &-bold {
    font-size: 34px;
    font-weight: 700;
  }
  &-text {
    color: $darkerText;
    line-height: 30px;
    margin-bottom: 49px;
  }

  &-button {
  }
}
.slider .slick-dots {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
.slider .slick-dots button {
  cursor: pointer;
  background: $detailsColor;
  border: none;
  border-radius: 50%;
  font-size: 0;
  width: 10px;
  height: 10px;
  outline: none;
}

.slider .slick-dots .slick-active button {
  background: $bgTransparent;
  border: 2px solid $detailsColor;
}
// ----/MAIN-SLIDER
// ----MAIN-SUBSCRIBE
.subscribe {
  background: url(../img/subscribe-bg-left.png) left -14% top 50% no-repeat,
    url(../img/subscribe-bg-right.png) right -8% top 50% no-repeat, $bgDark;

  &-inner {
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transform: translateY(30px);
    transition: all 0.6s ease-in;
  }

  &-text-box {
    flex-grow: 1;
    margin-top: 110px;
    text-align: center;
  }

  &-header {
    margin-bottom: 46px;
  }

  &-text {
    color: $darkerText;
    font-size: 18px;
    margin-bottom: 64px;
  }
  &-form {
    display: flex;
    justify-content: center;
  }

  &-form__email {
    background: $bgDark;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom: 2px solid $detailsColor;
    width: 48%;
  }

  &-form__email::placeholder {
    opacity: 0.32;
    padding-left: 7px;
    text-transform: capitalize;
    transition: all 0.2s ease-in;
  }

  &-form__email:hover::placeholder {
    text-transform: capitalize;
    opacity: 1;
  }

  &-form__submit {
    background: url(../img/subscribe-paper-plane.webp) center center no-repeat, $detailsColor;
    border: none;
    cursor: pointer;
    font-size: 0;
    height: 46px;
    width: 46px;
  }

  &-img-box {
    padding-top: 90px;
    padding-bottom: 90px;
  }

  &-image {
    
  }
}

.subscribe-inner.fade-in{
  opacity: 1;
  transform: translateY(0);
}
// ----/MAIN-SUBSCRIBE
// ----FOOTER
footer{
  height: 150vh;background: $bgFooter;
}
// ----/FOOTER

@import "media";
